.content{
    margin-top: 3.6rem;
    display: flex;
}

.mat-list-item-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.infos{
    margin-left: 1.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    color: grey;
}

.item-image{
    width: 2rem;
}

.price{
    display: flex;
    justify-content: space-between;
}

.cart{
    margin-left: .8rem;
    border:solid .1rem #3f51b5;
}

.add-button{
    color: #ebd100;
}

.takeOff{
    background-color: #ebd100;
    color: black;
}

.cancel{
    
    background-color: #ebd100;
    color: black;
}