<div class="content">	
	<div class="new-product">
		<mat-card-title class="instruction">
			Para cadastrar um produto preenhca este formulário
		</mat-card-title>
		<mat-card>
			<form [formGroup]="form" class="product-form" (ngSubmit)="onSubmit()">	
			
				<mat-form-field class="full-width">
					<input matInput color="black" placeholder="Nome do Produto" formControlName="nome">
					<mat-error *ngIf="form.controls.nome.hasError('required')">
						Você deve colocar um <strong >nome</strong> para o produto!
					</mat-error>
				</mat-form-field>
		
				<br />
		
				<mat-form-field class="full-width">
					<input  matInput type="number"  placeholder="Valor (deve ser maior que 0)" formControlName="valor">
					<mat-error *ngIf="form.controls.valor.hasError('required')">
						O valor é obrigatório
					</mat-error>
				</mat-form-field>
		
				<br />
				<br />
	
				<mat-form-field class="full-width">
					<input  matInput placeholder="Descrição Breve" formControlName="descricao">
					<mat-error *ngIf="form.controls.descricao.hasError('required')">
						A descricão é obrigatório!
					</mat-error>
				</mat-form-field>
	
				<br />
				<br />
	
				<mat-form-field class="full-width">
					<input  matInput placeholder="Caminho da Imagem" formControlName="imagem">
					<mat-error *ngIf="form.controls.imagem.hasError('required')">
						A descricão é obrigatória!
					</mat-error>
				</mat-form-field>
	
				<br>
				<br>
	
				<div class="form-control">
					<button mat-raised-button class="full-width-button hover cancel" color="primary" type="button" (click)="home()"><mat-icon>cancel</mat-icon> Cancelar</button>
					<button mat-raised-button class="full-width-button hover"  color="primary"><strong class="add-button">+ </strong> Adicionar</button>
				</div>
			</form>
		</mat-card>
	</div>
	<br>
	<br>
	<div class="product-list">
		<mat-card-title class="instruction">
			E aqui estão seus produtos cadastrados
		</mat-card-title>
	
		<mat-nav-list>
			<mat-list-item *ngFor="let produto of produtos" (click)="pedidos(cliente)">
				<mat-divider></mat-divider>			
				<p class="item-row full-width">{{produto.Id}} <small>{{ produto.Nome }} </small> <img class="item-image" src="{{produto.Imagem}}" alt="product-image-not-found"></p>
			</mat-list-item>
		</mat-nav-list>	 
	</div>   
</div>
